<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/page1.css')}}">
    <title>Mai Thảo's</title>
</head>
<body>
    <div class="main_background">
        <img src="{{ url_for('static',filename='images/video-1631974116.gif') }}" alt="img">
        <h1>NOIX!! Anh cũng yêu em :)))))</h1>
        <h2 style="color: springgreen;">Nếu có thể chọn 1 số anh sẽ chọn số 121250. Do u know why??</h2>
        
        <button><a href="https://www.google.com/search?q=dien+tich+c%E1%BB%A7a+n%C6%B0%E1%BB%9Bc+anh&rlz=1C1CHBD_jaJP897JP897&oq=dien+tich+c%E1%BB%A7a+n%C6%B0%E1%BB%9Bc+anh&aqs=chrome..69i57j0i22i30l9.5689j0j4&sourceid=chrome&ie=UTF-8">hint</a></button><br><br>
        <button><a href="{{url_for('Q2_no')}}"> Khum :( </a></button>
        <button><a href="{{url_for('Q2_no')}}"> có nhưng giả bộ khum biết ...</a></button>
    </div>
</body>
</html>