<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/page1.css')}}">

    <title>MaiThao's</title>
    
</head>

<body>
    <div class="main_background">
        <img src="{{ url_for('static',filename='images/girlfriend.jpg') }}" alt="img">
        <h1>Có phải Xu khum vậy -_-!!</h1>
        <button><a href="{{url_for('No')}}">Khum :( </a></button>
        <button><a href="{{url_for('Yes')}}">Phải á ^^ </a></button>
    </div>
    

</body>
</html>