<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/page1.css')}}">
    <title>Mai Thảo's</title>
</head>
<body>
    <div class="main_background">
        <img src="{{ url_for('static',filename='images/kiss-love.gif') }}" alt="img">
        <h1>Phải!! Vì em là 1 nửa của Anh ^^</h1>
        
        <button><a href="{{url_for('mess')}}"> next</a></button>
        
    </div>
    
</body>
</html>